html,body {
  height: 100%;
}

body {
  background: black;
  padding: 0;
  margin: 0;
}

.full-height {
  height: 85%;
  border: solid pink 2px;
}

/* #vc {
  width: 100%;
  margin: 0;
  padding: 0;
} */
/* #video {
  width: 100%;
  margin: 0;
  padding: 0;
} */
